{% extends 'main.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <tr>
            <th>Имя</th>
            <th>Машины</th>
            <th>Менеджеры</th>
            <th>Посмотреть</th>
        </tr>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.name }}</td>
                <td>{{ driver.car | length }}</td>
                <td>{{ driver.operator | length }}</td>
                <td>
                    <a href="{{ path('driver', {number: driver.number }) }}">Смотреть</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
