{% extends 'main.html.twig' %}


{% block body %}
    {% for user in users %}
        <h4>{{ user.email }}</h4>
        <ul class="list-group">
            {% for article in user.articles %}
                <li class="list-group-item">{{ article.title }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}